<h3 class="text-uppercase">
    Producto
    <a routerLink="/productos/new" class="btn btn-primary float-right">Nuevo producto</a>
</h3>

<div class="table-responsive">
        <table class="table table-hover table-sm">
            <caption>Lista de productos</caption>
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoEquipo of resultsPage.results; index as i">
                <td>{{ i + 1}}</td>
                <td>{{ tipoEquipo.nombre }}</td>
                <td>
                    <a routerLink="/productos/{{tipoEquipo.id}}"><i class="fa fa-pencil" placement="top" ngbTooltip="Editar"></i></a>
                </td>
                <td>
                    <a (click)="remove(tipoEquipo.id)" [routerLink]=""><i class="fa fa-trash-o" placement="top" ngbTooltip="Eliminar"></i></a>
                </td>

                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example" [hidden]="resultPage.count <= 1">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" (click)="showPage(-2)">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="showPage(-1)">&lsaquo;</a>
                    </li>
                    <li class="page-item" *ngFor="let t of pages; trackBy: $index" [ngClass]="{true: 'active'}[t+1 === currentPage]">
                        <a class="page-link" (click)="showPage(t + 1)"> {{t + 1}} </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="showPage(-3)">&rsaquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="showPage(-4)">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>