<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 
		text-white border-bottom 
		border border-primary shadow-sm rounded-bottom main-frame">
	<a type="button" class="btn btn-link my-0 mr-md-auto text-white font-weight-bold" href="/">MRP Lite</a>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-white" routerLink="/pedidos">Pedidos</a>
		<a class="p-2 text-white" routerLink="/clientes">Clientes</a>
		<a class="p-2 text-white" routerLink="/productos">Productos</a>
		<a class="p-2 text-white" routerLink="/tipoEquipos">Tipos de equipo</a>
		<a class="p-2 text-white" routerLink="/talleres">Talleres</a>
		<a class="p-2 text-white" routerLink="/planificaciones">Planificaciones</a>
	</nav>
	</div>
	<div class="container">
	<router-outlet></router-outlet>
</div>
