<h3 class="text-uppercase">
    Replanificar pedido N° {{pedidoId}}
</h3>

<div>
    <a class="btn btn-primary text-white" (click)="getFechaEntregaReplanificada()">Obtener fecha entrega</a>
</div>

<br />

<div>
    <label for="fechaEntrega">Fecha de entrega</label>
    <div class="input-group col-3">
        <input  class="form-control" 
                placeholder="Fecha de entrega"
                name="fechaEntregaDate" 
                [(ngModel)]="fechaEntregaDate" 
                ngbDatepicker 
                #d="ngbDatepicker"
                disabled="disabled">
    </div>
</div>

<br />

<div>
    <button class="btn btn-outline-primary">
        Cancelar
    </button>
    &nbsp;
    <button [disabled]="false" class="btn btn-primary">
        Confirmar replanificacion
    </button>
</div>